In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
rfm_data = pd.read_csv('data/RFM_clean.csv')
rfm_data.head()

   Recency  Frequency   Monetary
0       15          5   3113.890
1       27          3   5694.065
2       22          8  21613.800
3       12          4   6092.970
4        0         12  27981.915

In [3]:
rfm_data["Monetary"] = rfm_data["Monetary"].apply(lambda x : int(math.floor(x)))
rfm_data.head()

   Recency  Frequency  Monetary
0       15          5      3113
1       27          3      5694
2       22          8     21613
3       12          4      6092
4        0         12     27981

In [4]:
print(rfm_data[rfm_data['Monetary'].isnull()])

Empty DataFrame
Columns: [Recency, Frequency, Monetary]
Index: []

In [5]:
rfm_data["R"] = pd.cut(rfm_data["Recency"], 
                                       bins=[-1, 
                                             np.percentile(rfm_data["Recency"], 20), 
                                             np.percentile(rfm_data["Recency"], 40), 
                                             np.percentile(rfm_data["Recency"], 60),
                                             np.percentile(rfm_data["Recency"], 80),
                                             rfm_data["Recency"].max()], 
                                       labels=[5, 4, 3, 2, 1]).astype("int")

rfm_data["F"] = pd.cut(rfm_data["Frequency"], 
                                       bins=[-1, 
                                             np.percentile(rfm_data["Frequency"], 20), 
                                             np.percentile(rfm_data["Frequency"], 40), 
                                             np.percentile(rfm_data["Frequency"], 60),
                                             np.percentile(rfm_data["Frequency"], 80),
                                             rfm_data["Frequency"].max()], 
                                       labels=[1, 2, 3, 4, 5]).astype("int")

rfm_data["M"] = pd.cut(rfm_data["Monetary"], 
                                       bins=[-1, 
                                             np.percentile(rfm_data["Monetary"], 20), 
                                             np.percentile(rfm_data["Monetary"], 40), 
                                             np.percentile(rfm_data["Monetary"], 60),
                                             np.percentile(rfm_data["Monetary"], 80),
                                             rfm_data["Monetary"].max()], 
                                       labels=[1, 2, 3, 4, 5]).astype("int")                                       


rfm_data.head()

   Recency  Frequency  Monetary  R  F  M
0       15          5      3113  4  4  1
1       27          3      5694  1  2  2
2       22          8     21613  2  5  5
3       12          4      6092  5  3  2
4        0         12     27981  5  5  5

In [6]:
rfm_score = rfm_data[['R','F','M']]
rfm_score.head()

   R  F  M
0  4  4  1
1  1  2  2
2  2  5  5
3  5  3  2
4  5  5  5

In [62]:
rfm_score.to_csv('data/RFM_score.csv', index=False)